$font-family-base: Helvetica, sans-serif;
$font-size-base: 18px;
$line-height-base: 1.5;
$link-focus-decoration: underline;

// Colorscheme
$light-shade: #F9FBFA;
$light-accent: #EEAF26;
$main-color: #5478C2;
$dark-accent: #C44E5C;
$dark-shade: #21294F;
$dark-shade-secondary: #13172a;

// Informative Colors
$color-default: #999999;
$color-primary: #5478c2;
$color-info: #21294f;
$color-success: #4e9f72;
$color-warning: #cc8e3a;
$color-danger: #f44336;
