{% macro win_lose(records, title, sort_attr='wins', reverse=True) -%}
<div class='card'>
    <h2 class='header'>{{title}}</h2>

    <div class='body'>

        <ul>
        {% for record in records | sort(reverse=reverse, attribute=sort_attr) %}
            <li><strong class='width-50'>{{record.name}}</strong><span class='right width-50'>{{record.wins}}-{{record.losses}}-{{record.ties}}</span></li>
        {% endfor %}
        </ul>
    </div>
</div>
{%- endmacro %}

{% macro years(records, title) -%}
<div class='card'>
    <h2 class='header'>{{title}}</h2>

    <ul>
        {% set years = records.keys() | sort(reverse=True) %}
        {% for year in years %}
        <li><strong class='width-50'>{{year}}</strong><span class='right width-50'>{{records[year].wins}}-{{records[year].losses}}-{{records[year].ties}}</span></li>
        {% endfor %}
    </ul>
</div>
{%- endmacro %}

{% macro years_points_for(records, title) %}
<div class='card'>
    <h2 class='header'>{{title}}</h2>

    <ul>
        {% set years = records.keys() | sort(reverse=True) %}
        {% for year in years %}
        <li><strong class='width-50'>{{year}}</strong><span class='right width-50'>{{records[year].points_for|round(2)}}</span></li>
        {% endfor %}
    </ul>
</div>
{% endmacro %}

{% macro division_standings(standings, title) %}
<div class='card'>
    <div class='container'>
        <h2 class='header'>{{title}}</h2>
    </div>

    <div class='container'>
        {% set divisions = standings.keys() | sort() %}
        <!-- {{divisions}} -->
        {% for division in divisions %}
        <!-- {{division}} -->
        <div class='flex'>
            <h3>{{division | capitalize}}</h3>
            <ul>
                {% for team in standings[division] %}
                <li><strong class='width-50'>{{team.name}}</strong><span class='right width-50'>{{team.wins}}-{{team.losses}}-{{team.ties}}
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
</div>
{% endmacro %}

{% macro playoff_result(champion, title) %}
<div class='card'>
    <h2 class='header'>{{title}}</h2>

    <ul>
        <li>{{champion}}</li>
    </ul>
</div>

{% endmacro %}

{% macro win_percentage(records, title, sort_attr='win_percentage', reverse=True) %}
<div class='card'>
    <h2 class='header'>{{title}}</h2>

    <ul>
        {% for record in records | sort(reverse=reverse, attribute=sort_attr) %}
        <li><strong class='width-50'>{{record.name}}</strong><span class='right width-50'>{{record.win_percentage|round(3)}}</span></li>
        {% endfor %}
    </ul>
</div>
{% endmacro %}

{% macro team_links(teams, title) %}
<div class="card">
    <h2 class='header'>{{title}}</h2>
  <ul>
  {% for team_id, name in teams %}
  <li><a href="team/{{team_id}}.html">{{name}}</a></li>
  {% endfor %}
  </ul>
</div>
{% endmacro %}

{% macro season_links(seasons, title) %}
<div class="card">
    <h2 class='header'>{{title}}</h2>
  <ul>
  {% for y in seasons | sort(reverse=True) %}
  <li><a href="season/{{y}}.html">{{y}}</a></li>
  {% endfor %}
  </ul>
</div>
{% endmacro %}

{% macro points_for(records, title) %}
<div class='card'>
    <h2 class='header'>{{title}}</h2>

    <ul>
    {% for record in records | sort(reverse=True, attribute='points_for') %}
    <li>
        <strong class='width-50'>{{record.name}}</strong><span class='right width-50'>{{record.points_for | round(2)}}</span></li>
    {% endfor %}
    </ul>
</div>
{% endmacro %}

{% macro optimum_points(records, title) %}
<div class='card'>
    <h2 class='header'>{{title}}</h2>

    <ul>
    {% for record in records | sort(reverse=True, attribute='optimum_points,optimum_point_percentage,id') %}
    <li><strong class='width-50'>{{record.name}}</strong><span class='right width-50'>{{record.optimum_points| round(1, 'floor')}} ({{(record.optimum_point_percentage * 100)| round(2, 'floor')}}%)</span></li>
    {% endfor %}
    </ul>
</div>
{% endmacro %}

{% macro year_lineup_efficiency(records, title)  %}
<div class='card'>
    <h2 class='header'>{{title}}</h2>
    <p><small>% of optimum points obtained through a season</small></p>
    <p><small>Note: There is some bug in here that makes >100% possible I am working on this</small></p>
    <br>
    <ul>
        {% set years = records.keys() | sort(reverse=True) %}
        {% for year in years %}
        <li><strong class='width-50'>{{year}}</strong><span class='right width-50'>{{(records[year].optimum_point_percentage * 100) |round(2, 'floor')}} %({{records[year].points_for}}/{{records[year].optimum_points}})</span></li>
        {% endfor  %}
    </ul>
</div>
{% endmacro %}
