<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- TODO: Fix this, this is only for local dev -->
    <link rel="stylesheet" href="/static/css/site.css">
    {% block css %}
    {% endblock %}

    <title>{%block title%}{%endblock%}</title>
  </head>
  <body>
      {% include 'partials/header.html' %}
      <main>
      {% block content %}
      {% endblock %}
      </main>
      {% include 'partials/footer.html' %}
  </body>
</html>
