{% extends 'base.html' %}

{% import 'macros/card.html' as card %}

{%block title%}{%endblock%}

{% block content %}
<div class="container">
    <div class="header-card">
        <h1>LeaderBoards</h1>
    </div>
</div>
<div class="container">
    {{ card.win_lose(all_time_record, "All Time Wins", "wins,ties,id") }}
    {{ card.win_percentage(all_time_record, "All Time Win %") }}
    {{ card.points_for(all_time_record, "All Time Points Leader") }}
    {{ card.optimum_points(all_time_record, "Optimum Points Leader") }}
</div>

<div class='container'>
    <div class="header-card">
        <h1>Explore Stats</h1>
    </div>
</div>

<div class='container'>
    {{ card.team_links(teams, "Team Stats") }}
    {{ card.season_links(league_years, "Season Stats") }}
  <!-- <div class='card'> -->
  <!--     <h2 class='header'>View Season Stats</h2> -->
  <!--     <ul> -->
  <!--       {%for y in league_years | sort(reverse=true) %} -->
  <!--       <li><a href="season/{{y}}.html">{{y}}</a></li> -->
  <!--       {%endfor%} -->
  <!--     </ul> -->
  <!-- </div> -->
</div>
{% endblock %}
