{% extends 'base.html' %}

{% import 'macros/card.html' as card %}

{% block title %}{{league_name}} | {{year}}{% endblock %}

{% block content %}
<div class='container'>
    <div class='header-card'>
            <h1>Season: {{year}}</h1>
    </div>
</div>

<div class='container'>
{% if completed %}
{{ card.playoff_result(champion, "Season Champion") }}
{% endif %}
{{ card.win_lose(season_record, "Regular Season Standings", "wins,ties,id") }}
{{ card.points_for(season_record, "Regular Season Points Leader") }}
</div>

{% if use_divisions %}
<div class= 'container'>
    {{ card.division_standings(division_rankings, "Division Standings") }}
</div>
{% endif %}
{% endblock %}
