{% extends 'base.html' %}

{% import 'macros/card.html' as card %}

{% block title %}{{team_name}} | {{league_name}}{% endblock %}

{% block content %}
<div class='container'>
    <div class='header-card'>
        <h1>{{team_name}}<span class='right subtitle'>{{record.wins}}-{{record.losses}}-{{record.ties}} <span class=>({{record.win_percentage|round(3)}})</span></span></h1>
    </div>
</div>
<div class='container'>
    {{ card.win_lose(vsrecord, "Head to Head Record", "wins,ties,id") }}
    {{ card.years(year_record, "Season Results") }}
    {{ card.years_points_for(year_record, "Season Points Scored") }}
</div>
{% endblock %}
