nav {
    position: sticky;
    top: 0;
    padding: .5em;
    background-color: $dark-shade-secondary;
}

nav ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    color: $light-accent;
}

nav ul li {
    flex: 1 100px;
}

.logo {
    font-size: 2rem;
    a {
        color: #main-color;
    }
}
