* {
    outline: none !important;
}

body {
    margin: 0;
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $light-shade;
    background-color: $dark-shade;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


a {
    color: $light-shade;
    text-decoration: none;
    transition: .25s;

    &:hover,
    &:focus {
        color: $light-accent;
        text-decoration: $link-focus-decoration;
        outline: none;
    }
}

p {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}

.flex {
    flex: 1 200px;
    margin: 1rem;
}

.card {
    background-color: $light-shade;
    padding-top: 1em;
    flex: 1 400px;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    color: $dark-shade;

    a {
        color: $dark-shade;
        text-decoration: none;
        transition: .25s;

        &:hover,
        &:focus {
            color: $dark-accent;
           text-decoration: $link-focus-decoration;
            outline: none;
        }
    }

    ul {
        li {
            .even {
                background-color: lightgrey;
            }
        }
    }




    p {
        color: $dark-shade;
    }

    .header {
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: $dark-shade;
    }
}

.header-card {
    flex: 1 200px;
    padding: 1rem;
    margin: 1rem;

    h1 {
        padding: 0;
        margin: 0;
        color: $light-shade;

        span {
            color: $light-accent;
            opacity: .6;
            font-size: 1.6rem;
        }

        .subtitle {

        }
    }
}

.title {
    color: $main-color;
}

.sub-title {
    color: $main-color;
    font-weight: lighter;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.right {
    float: right;
}

.left {
    float: left;
}

.even {
    background-color: lightgrey;
}

.width-50 {
    display: inline-block;
    max-width: 50%;
}
